<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://java.sun.com/jsf/composite">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<!--/*@thymesVar id="users" type="web"*/-->
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td><a th:href="@{/admin/user-update/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{/admin/user-delete/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <br/>
        <input type="button" value="Create user"
               onclick="window.location.href='/admin/user-create'">
    </div>
    <br/>
    <div>
        <input type="button" value="Go Back"
               onclick="window.location.href='/hello'">
        <sec:authorize access="isAuthenticated()">
            <input type="button" value="Log out"
                   onclick="window.location.href='/logout'">
        </sec:authorize>
    </div>
</div>
</body>
</html>